
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/BUJUYE.cshtml";
}

<div style="background-color:#ffffff;width:1600px;height:450px;margin:0 auto">

    <div style="float:left;width:200px;height:450px;margin-top:60px;margin-left:40px;">
        <ul class="sidebar-nav" style="margin-left:30px;">
            <li class="sidebar-nav-link" style="padding-bottom:20px">
                <a href="tables.html">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 库存短缺
                </a>
            </li>
            <li class="sidebar-nav-link" style="padding-bottom:20px">
                <a href="tables.html">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 库存积压
                </a>
            </li>
            <li class="sidebar-nav-link" style="padding-bottom:20px">
                <a href="form.html">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 入库数量

                </a>
            </li>
            <li class="sidebar-nav-link" style="padding-bottom:20px">
                <a href="form.html">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 出库数量

                </a>
            </li>
            <li class="sidebar-nav-link" style="padding-bottom:20px">
                <a href="login.html">
                    <i class="am-icon-key sidebar-nav-link-logo"></i> 入库对比
                </a>
            </li>
            <li class="sidebar-nav-link" style="padding-bottom:20px">
                <a href="login.html">
                    <i class="am-icon-key sidebar-nav-link-logo"></i> 出库对比
                </a>
            </li>
        </ul>
    </div>

    <div class="col-lg-6" style="width:900px;height:400px;margin-top:40px; margin-left:80px; border-left: 2px solid #808080;">

        <table class="table table-hover">
            <thead>
            <th>
                编号
            </th>
            <th>
                名称
            </th>
            <th>
                数量
            </th>
            <th class="hidden-xs">
                库存预警值
            </th>
            <th class="hidden-xs">
                异常比例
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Robert
                    </td>
                    <td>
                        Kelso
                    </td>
                    <td>
                        robert@gmail.com
                    </td>
                    <td class="hidden-xs">
                        8-15-2013
                    </td>
                    <td>
                        100%
                    </td>
                </tr>
                <tr>
                    <td>
                        John
                    </td>
                    <td>
                        Dorian
                    </td>
                    <td>
                        john@gmail.com
                    </td>
                    <td class="hidden-xs">
                        8-15-2013
                    </td>
                    <td>
                        100%
                    </td>
                </tr>
                <tr>
                    <td>
                        Olivia
                    </td>
                    <td>
                        Benson
                    </td>
                    <td>
                        olivia@gmail.com
                    </td>
                    <td class="hidden-xs">
                        8-15-2013
                    </td>
                    <td>
                        100%
                    </td>
                </tr>
                <tr>
                    <td>
                        Elliot
                    </td>
                    <td>
                        Stabler
                    </td>
                    <td>
                        elliot@gmail.com
                    </td>
                    <td class="hidden-xs">
                        8-15-2013
                    </td>
                    <td>
                        100%
                    </td>
                </tr>
                <tr>
                    <td>
                        Maggie
                    </td>
                    <td>
                        Smith
                    </td>
                    <td>
                        maggie@gmail.com
                    </td>
                    <td class="hidden-xs">
                        8-15-2013
                    </td>
                    <td>
                        100%
                    </td>
                </tr>
                <tr>
                    <td>
                        Maggie
                    </td>
                    <td>
                        Smith
                    </td>
                    <td>
                        maggie@gmail.com
                    </td>
                    <td class="hidden-xs">
                        8-15-2013
                    </td>
                    <td>
                        100%
                    </td>
                </tr>
                <tr>
                    <td>
                        Maggie
                    </td>
                    <td>
                        Smith
                    </td>
                    <td>
                        maggie@gmail.com
                    </td>
                    <td class="hidden-xs">
                        8-15-2013
                    </td>
                    <td>
                        100%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

