
@{
    ViewBag.Title = "AddRuKu";
    Layout = "~/Views/BUJUYE.cshtml";
}
<div>
    新增入库
</div>
<table>
    <thead>
        <tr>
            <td>入库产品</td>
            <td>入库数量</td>
            <td>生产日期</td>
            <td>入库产品</td>
            <td>入库产品</td>
        </tr>
    </thead>

</table>
